* {
  font-family: 'Madefor', 'Helvetica Neue', Helvetica, Arial, 'meiryo',
    'hiragino kaku gothic pro', sans-serif !important;
}

body {
  background-color: #dfe5ea;
  padding-bottom: 30px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.search-bar {
  border-width: 0;
}

.search-bar .MuiOutlinedInput-root {
  border-radius: 40px;
  background-color: white;
}

.search-bar .MuiOutlinedInput-root:hover {
  background-color: #e7f0ff;
}
